SECRET_KEY=your-django-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

APP_NAME=AI Diaspora Assistant
TIME_ZONE=Africa/Nairobi

LLM_PROVIDER=groq
LLM_API_KEY=your_actual_full_groq_key
LLM_API_URL=https://api.groq.com/openai/v1/chat/completions
LLM_MODEL=llama-3.3-70b-versatile